* {
    margin: 0;
    padding: 0;
}
:root {
    --boxHight: vmin(10px);
    --boxWidth: 60vw;
}

h1 {
    position: absolute;
    top: 5vh;
    color: white;
}

body { 
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
table {
    background-color: black;
    aspect-ratio: 1/1;
    width: 30vw;
    font-size: 30px;
}

.brick {
    background-color: white;
    cursor: pointer;
    /* height: 19vh; */
}
.gameEnds {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: none;
}
#restart {
    height: 5vh;
    width: 5vw;
    position: absolute;
    bottom: 5vh;
}