* {
    margin: 0;
    padding: 0;
}

h1 {
    position: absolute;
    top: 5vh;
    color: white;
}

body { 
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
table {
    background-color: black;
    width: 50vw;
    height: 60vh;
    font-size: 70px;
}
div {
    position: absolute;
}
.brick {
    background-color: white;
    cursor: pointer;
    height: 19vh;
}

#restart {
    height: 5vh;
    width: 5vw;
    position: absolute;
    bottom: 5vh;
}